<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">首页</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/home/">文档</a>
  </li>
  <li class="{% if page.url contains '/apps/' %}current{% endif %}">
    <a href="/apps/">应用</a>
  </li>
  <li class="{% if page.url contains '/devs/' %}current{% endif %}">
    <a href="/devs/">设备</a>
  </li>
  <li>
    <a href="{{ site.repository }}">
      <img src="/img/footer-logo.png" width="68" height="14" alt="GitHub">
    </a>
  </li>
</ul>
